Source: findbugs
Section: java
Priority: extra
Maintainer: ShuxiongYe <yeshuxiong@gmail.com>
Build-Depends: debhelper (>= 9.0.0), default-jdk, ant, docbook-to-man, libsaxon-java, docbook-xsl (>= 1.76), libbcel-java, libdom4j-java (>= 1.6.1), junit4, libasm3-java (>= 3.3), libjaxen-java (>= 1.1.1), libjsr305-java, libcommons-lang-java (>= 2.4), libjcip-annotations-java, libjdepend-java (>= 2.9)
Standards-Version: 3.9.3
Homepage: http://findbugs.sourceforge.net/
#Vcs-Git: git://git.debian.org/collab-maint/findbugs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/findbugs.git;a=summary

Package: findbugs
Architecture: all
Depends: ${misc:Depends}
Description: Static java code analyzer to find bugs
 Findbugs is a program which uses static analysis to look for bugs in Java 
 code. It can analyze programs compiled for any version of Java, from 1.0 
 to 1.8. 
