#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#JAVA_HOME = /usr/lib/jvm/default-java

DESDIR=$(CURDIR)/debian/findbugs
SHAREDIR=$(DESDIR)/usr/share

BASE_NAME=findbugs
BASE_NAME_JAR=$(BASE_NAME).jar
VERSION=2.0.2
FULL_NAME_JAR=$(BASE_NAME)-$(VERSION).jar

SHAREPACDIR=$(SHAREDIR)/$(BASE_NAME)

%:
	dh $@

override_dh_auto_build:
	docbook-to-man debian/findbugs.sgml > debian/findbugs.1
	ant -f build.xml build docs

override_dh_auto_install:
	# install findbugs.jar in /usr/share/java as findbugs-$version.jar
	mkdir -p $(SHAREDIR)/java
	cp $(CURDIR)/lib/$(BASE_NAME_JAR) $(SHAREDIR)/java/$(FULL_NAME_JAR)
	
	# link /usr/share/java/findbugs-$version.jar to /usr/share/java/findbugs.jar
	cd $(SHAREDIR)/java && ln -s $(FULL_NAME_JAR) $(BASE_NAME_JAR) 
	
	# link /usr/share/java/findbugs-$version.jar to /usr/share/findbugs/lib/findbugs.jar
	mkdir -p $(SHAREPACDIR)/lib
	cd $(SHAREPACDIR)/lib && ln -s ../../java/$(FULL_NAME_JAR) $(BASE_NAME_JAR)
	
	# copy $(CURDIR)/lib/ AppleJavaExtendsions.jar bcel.jar jFormatString.jar jsr305.jar to /usr/share/findbugs/lib 
	cp $(CURDIR)/lib/AppleJavaExtensions.jar $(SHAREPACDIR)/lib
	cp $(CURDIR)/lib/bcel.jar $(SHAREPACDIR)/lib
	cp $(CURDIR)/lib/jFormatString.jar $(SHAREPACDIR)/lib
	cp $(CURDIR)/lib/jsr305.jar $(SHAREPACDIR)/lib
	
	# install bin in /usr/share/findbugs/bin
	mkdir -p $(SHAREPACDIR)/bin
	cp -rf $(CURDIR)/bin/* $(SHAREPACDIR)/bin
	
	# link /usr/share/findbugs/bin/findbugs to /usr/bin/findbugs
	mkdir -p $(DESDIR)/usr/bin
	cd $(DESDIR)/usr/bin && ln -s ../share/findbugs/bin/findbugs findbugs
	
	# install docs here
	mkdir -p $(DESDIR)/usr/share/doc/findbugs/html
	cp -rf $(CURDIR)/doc/manual/* $(DESDIR)/usr/share/doc/findbugs/html

